<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Html CSS | HIC 2024</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Flex</h1>
    <div id="flex">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>

    <br>
    
    <h1>Grid</h1>
    <div id="grid">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
</body>

</html>