* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
}

#flex {
    display: flex;
    justify-content: space-between;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.box {
    background-color: black;
    padding: 50px;
    border-radius: 5px;
}